.Product-container {
  background-color: #257181;
  min-height      : 90vh;
  min-width       : 80vw;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;

  @media (max-width:767px) {
    min-height     : 60vh;
    min-width      : 100vw;
    max-height     : 60vh;
    max-width      : 100vw;
    flex-direction : column;
    overflow-y     : scroll;
    justify-content: flex-start;
  }
}

.Products-sidebar {
  background-color: #282c34;
  min-height      : 90vh;
  min-width       : 20vw;
  max-height      : 90vh;
  max-width       : 20vw;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  overflow-y      : scroll;

  @media (max-width:767px) {
    min-height    : 30vh;
    min-width     : 100vw;
    max-height    : 30vh;
    max-width     : 100vw;
    flex-direction: row;
    overflow-x    : scroll;
  }

  .Btn-refresh {
    margin: 1vmin;

    @media (max-width:767px) {
      margin: 10vmin;
    }
  }

  .Product-area {

    cursor: pointer;
    width : 90%;
    margin: 10px;

    &:hover {
      border       : 1px solid darkslategray;
      border-radius: 10px;
    }

    &.Active {
      border       : 1px solid darkslategray;
      border-radius: 10px;
    }

    .active-prod {
      color: #257181;
    }
  }

}