.App {
  text-align      : center;
  background-color: #257181;
  min-height      : 100vh;
  max-height      : 100vh;
  min-width       : 100vw;
  max-width       : 100vw;
  display         : flex;
  flex-direction  : column;
  align-items     : center;

  .App-logo {
    margin        : 10vmin;
    height        : 40vmin;
    border-radius : 20vmin;
    pointer-events: none;

    @media (prefers-reduced-motion: no-preference) {
      animation: App-logo-spin infinite 20s linear;
    }
  }


  .App-container {
    background-color: #257181;
    min-height      : 90vh;
    max-height      : 90vh;
    max-width       : 100vw;
    min-width       : 100vw;
    display         : flex;
    flex-direction  : row;
    align-items     : center;
    justify-content : center;

    @media (max-width:767px) {
      flex-direction: column;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height      : 10vh;
    min-width       : 100vw;
    max-height      : 10vh;
    max-width       : 100vw;
    display         : flex;
    flex-direction  : row;
    align-items     : center;
    color           : white;
  }

}

button {
  align-self    : center;
  text-align    : center;
  padding       : 10px 30px;
  border-radius : 10px;
  color         : darkslategray;
  border        : 1px solid darkslategray;
  text-transform: capitalize;
  margin        : auto;

  &:hover {
    background-color: darkslategray;
    color           : white;
  }

  @media (max-width:767px) {
    padding: 10px;
    margin : auto;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}